<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>KKK</title>
</head>

<style>

</style>
<body>

<table>
    <thead>
    <tr>
        <th> User Id </th>
        <th> Amount </th>
        <th> Type </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions.empty}">
        <td colspan="2"> მომხმარებელს არ აქვს ტრანზაქციები </td>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><span th:text="${transaction.userId}">  </span></td>
        <td><span th:text="${transaction.amount}">  </span></td>
        <td><span th:text="${transaction.type}">  </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>